/*add-stock*/
.message{
  /*position: sticky;*/
   padding: 20px 40px;
   min-width: 420px;
   position: absolute;
   right:0px;
   top: 10px;
   border-radius: 4px;
   border-left: 8px solid blue;
   background: #f44336;
   color: white;
   font-family: sans-serif;
   text-align: center;
   /*animation: hide 2s;*/

}

.message{
	animation: show_slide 1s ease forwards;
}



@keyframes show_slide {
0%{
	transform: translateX(100%);
}
40%{
	transform: translateX(-10%);
}

80%{
	transform: translateX(0%);
}
100%{
	transform: translateX(-10px);
}
}



.message span{
	padding: 0 20px;
	font-size:18px;
	color: white;
}

/*admin orders*/
    .checkout{
       width: 70%;
       margin: 0 15%; 
    }


/*Index.php css*/
            body{
  margin-top: 70px;
  
}
marquee{
  height: 35px;
  color: white;
}

.main-container{

   display: flex;
   flex-wrap: wrap; /*pulls some divs down*/
   gap:15px;
   justify-content: center;
}

.main-container .display-form{
text-align: center;
border-radius: 5px;
position: relative;
border:1px solid black;
position: relative;
padding: 20px;
width: 340px;

}

img{
  width: 230px;
  height: 48vh;
  margin-top: 5%;
}


.item_name{
margin-bottom: 0px;
font-size: 20px;
padding: 5px 0;
}

.discount{
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background: orange;
  font-size: 25px;
}
.quantity{
  width: 85%;
  height: 40px;
  border:2px solid black;
  border-radius: 8px;
 font-size: 20px;
 text-align: center;
}
.box-btn{
  margin-top: 5%;
  border: 1px solid blue;
}

/*Homepage.php*/


marquee{
  height: 35px;
  color: white;
  margin-bottom: 2px;

}

.main-container{

   display: flex;
   flex-wrap: wrap; /*pulls some divs down*/
   gap:15px;
   justify-content: center;
}

.main-container .display-form{
text-align: center;
border-radius: 5px;
position: relative;
border:1px solid black;
position: relative;
padding: 20px;
width: 340px;

}

img{
  width: 230px;
  height: 48vh;
  margin-top: 5%;
}


marquee{
  height: 35px;
  color: white;
  margin-bottom: 2px;

}

.main-container{

   display: flex;
   flex-wrap: wrap; /*pulls some divs down*/
   gap:15px;
   justify-content: center;
}

.main-container .display-form{
text-align: center;
border-radius: 5px;
position: relative;
border:1px solid black;
position: relative;
padding: 20px;
width: 340px;

}

img{
  width: 230px;
  height: 48vh;
  margin-top: 5%;
}


.discount{
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background: orange;
  font-size: 25px;
}


.load-more{
 margin-left: 48%;
}

.load-more a{
  text-decoration: none;
  color: white;
}
.load-more{
 margin-left: 48%;
}

.load-more a{
  text-decoration: none;
  color: white;
}
