/*add-stock*/
.message{
  /*position: sticky;*/
   padding: 20px 40px;
   min-width: 420px;
   position: absolute;
   right:0px;
   top: 10px;
   border-radius: 4px;
   border-left: 8px solid blue;
   background: #f44336;
   color: white;
   font-family: sans-serif;
   text-align: center;
   /*animation: hide 2s;*/

}

.message{
	animation: show_slide 1s ease forwards;
}



@keyframes show_slide {
0%{
	transform: translateX(100%);
}
40%{
	transform: translateX(-10%);
}

80%{
	transform: translateX(0%);
}
100%{
	transform: translateX(-10px);
}
}



.message span{
	padding: 0 20px;
	font-size:18px;
	color: white;
}

/*admin orders*/
    .checkout{
       width: 70%;
       margin: 0 15%; 
    }
